<div class="mt-5 container">
  <h2>Games</h2>
</div>
<div class="container mt-5">
  <div class="d-flex flex-wrap gap-3">
    @for (game of gameList(); track game.id) {
      <div class="card" style="width:16rem;">
        @if (game.coverUrl) {
          <img [src]="game.coverUrl" class="card-img-top" alt="cover" style="height: 150px">
        } @else {
          <div class="bg-secondary text-white d-flex align-items-center justify-content-center"
               style="height: 150px">
            No image
          </div>
        }
        <div class="card-body">
          <h5 class="card-title">{{ game.title }}</h5>
          <p class="card-text">{{ game.developer }}</p>
          <p class="card-text">{{ game.platformName }}</p>
          <div class="d-flex justify-content-between align-items-center mt-2">
            <span class="badge" [ngClass]="getStatusClass(game.status)">{{ game.status }}</span>
            <button class="btn btn-dark btn-sm" [routerLink]="['/game-details', game.id]">Details</button>
          </div>
        </div>
      </div>
    }
  </div>
</div>
